/* .optional_search_page {
  border: 2px solid rgb(104, 100, 100);
  border-radius: 0px 30px;
  padding-top: 3em;
  padding-bottom: 5em;
} */

.tab {
  border: 1px solid rgb(104, 100, 100);
  border-radius: 15px 15px 0px 0px;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin-right: 0.3em;
  background-color: #eeeeee;
}
.tab:hover{
  background-color: white;
}
.tab_chosen{
  background-color: white;
}
.tabs_menu {
  margin-top: 1em;
  height: 3em;
}

.title{
  margin-left: 4em;
  margin-bottom: 1em;
}
.item{
  height: 2em;
  width: auto;
  padding: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f9fa;
  border: 1px solid rgb(104, 100, 100);
  border-radius: 10px;
  text-align: center;
  margin: 0.2em;
  cursor: pointer;
}
.item:hover{
  background-color: rgb(184, 117, 117);
}
.suggestion{
  height: 2em;
  width: auto;
  padding: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f9fa;
  border: 1px solid rgb(104, 100, 100);
  border-radius: 10px;
  text-align: center;
  margin: 0.2em;
  cursor: pointer;
}

.suggestion:hover{
background-color: rgb(105, 136, 105)  ;
}

#getMoreTags{
  font-size: small;
  opacity: 0.8;
}

#getPlaylistBtn{
  width: 20em;
}

.carousel{
  width: 25%;
  height: 15em;
}

.result_podcasts{
  padding-right: 5%;
  padding-left: 5%;
  
}

a { color: inherit;
    text-decoration: none;    
} 

.carousel-control-prev{
  height: 90%;
}

.carousel-control-next{
  height: 90%;
}

.d-block{
  border-radius: 10px;
}

.description_area{
  height: 100%;
  width: 100%;
  margin-left: 3em;
  padding-bottom: 2em;
}

.podcast_description{
  margin-left: 1em;
  font-size: 15px;
}

.result_container{
  height: 15em;
  align-items: center;
  border: 1px solid rgb(104, 100, 100);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.podcast_keywords{
  word-break: break-all
}

h6{
  font-style: italic;
}

.get_description{
  height: 2em;
  width: 7em;
  border-radius: 10px;
  border: 1px solid rgb(104, 100, 100);
}
.get_description:hover{
  opacity: 0.5;
}

.getElseButton{
  height: 3em;
  width: 15em;
  border-radius: 10px;
  border: 1px solid  rgb(104, 100, 100);
  cursor: pointer;
  font-size: larger;
  color: rgb(70, 68, 68);
  margin-top: 4em;
}

.getElseButton:hover{
  opacity: 0.5;
}

.else_podcasts{
  font-style: italic;
}

.else_picture{
  border-radius: 10px;
}

.like_box{
  height: 2em;
  width: auto;
  padding: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f8f9fa;
  border: 1px solid rgb(104, 100, 100);
  border-radius: 10px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}

.like_box:hover{
  background-color: rgb(177, 177, 177)  ;
}